In [2]:
def list_names():
    print('Michael')
    print('Patricia')
    print('Mike')
    print('Mary')
    print('Robert')

In [3]:
list_names()

Michael
Patricia
Mike
Mary
Robert

In [4]:
def people(name, age):
    print(f"{name} is {age} years old.")

In [5]:
people('Michael', 38)

Michael is 38 years old.

In [6]:
people('Mike',31)

Mike is 31 years old.

In [7]:
def sum(value1, value2):
    print(value1 + value2)

In [8]:
printed_sum = sum('9','10')

910

In [9]:
printed_sum

In [10]:
type(printed_sum)

NoneType