In [2]:
name = 'Jonathan'

In [3]:
letters = []

for element in name:
    letters.append(element)

In [4]:
letters

['J', 'o', 'n', 'a', 't', 'h', 'a', 'n']

In [8]:
letters = [element for element in name]

In [9]:
letters

['J', 'o', 'n', 'a', 't', 'h', 'a', 'n']

In [12]:
value_list = [numbers*2 for numbers in range(1,20)]

In [13]:
value_list

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [14]:
value_list = [numbers for numbers in range(1,20) if numbers%2==0]

In [15]:
value_list

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [16]:
values = [number if number%2==0 else 'Odd number' for number in range(1,20)]

In [17]:
values

['Odd number',
 2,
 'Odd number',
 4,
 'Odd number',
 6,
 'Odd number',
 8,
 'Odd number',
 10,
 'Odd number',
 12,
 'Odd number',
 14,
 'Odd number',
 16,
 'Odd number',
 18,
 'Odd number']

In [18]:
my_values = []

for j in [2,3,4]:
    for k in [1,10,100]:
        my_values.append(j*k)

In [19]:
my_values

[2, 20, 200, 3, 30, 300, 4, 40, 400]

In [20]:
my_values = [j*k for j in [2,3,4] for k in [1,10,100]]

In [21]:
my_values

[2, 20, 200, 3, 30, 300, 4, 40, 400]